html {
	font-family: 'Noto Sans JP', sans-serif!important;
}

body {
	color: #333;
	background-color: #FFFFFF;
	letter-spacing: 0.3px;
}

.container-center {
	justify-content: center!important;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	padding: 0 20px;
}

/* header */

.navbar {
	padding: 0;
}

.navbar-brand {
	margin-right: 1.5rem;
}

.bg-ketchup {
	background-color: #a80000!important;
}

input {
	border: none;
}

textarea:focus, input:focus, input[type]:focus {
	outline: 0;
}

.search_container{
	position: relative;
	box-sizing: border-box;
	padding: 4px 10px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #FFFFFF;
}

.search_container input {
	width: 250px;
}

.header-end {
	margin-left: 4rem;
}

.header-end-li {
	display: inline-block;
}

.header-end-li object {
	margin-right: 6px;
}

.header-link {
	color: #FFFFFF;
	font-size: 1rem;
	margin-right: 1rem;
	border: 1px solid #FFFFFF;
	padding: 5px 20px;
	padding-bottom: 7px;
}

.header-link, .header-link:hover,
.top-user-register-sign-up, .sns-auth a,
.form-control, .question-tag-li {
	transition: background-color 0.3s ease;
}

.footer-li a {
	transition: color 0.3s ease;
}

.header-link img {
	margin-right: 10px;
	margin-bottom: 2px;
}

.header-link:hover {
	color: #FFFFFF;
	background-color: #c54b4b;
	text-decoration: none;
}

#question {
	border: none;
	background-color: #333;
	margin-right: 2rem;
	border-radius: 5px;
	box-shadow: 3px 3px #000000;
}

#question:hover {
	background-color: #424242;
	border: none;
}


.header-end-li a span {
	
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

/* side */

.tag-ranking {
	font-weight: bold;
	background-color: #FFFFFF;
	margin-left: 20px;
	padding: 20px;
	position: sticky;
	margin-bottom: 0;
	top: 10px;
	z-index: 1;
}

.tag-ranking-header {
	padding-bottom: 16px;
	border-bottom: 2px solid #333;
	font-size: 16px;
}

.tag-ranking-ul {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.tag-ranking-li:first-child {
	width: 30px;
	text-align: center;
	color: #b1b1b1;
}

.tag-ranking-li:nth-child(2) {
	width: 150px;
	margin-bottom: 2px;
}

.tag-ranking-li:nth-child(2) a {
	color: #333;
	vertical-align: middle;
	font-size: 16px;
}

.tag-ranking-li:nth-child(2) a:hover {
	color: #666;
}

.tag-ranking-li:nth-child(3) {
	width: 50px;
	text-align: center;
}

.tag-ranking-li {
	display: inline-block;
	vertical-align: middle;
}

.number-tag {
	font-size: 18px;
}

.posts {
	color: #b1b1b1;
	margin-top: -10px;
	font-weight: lighter;
}

p {
	margin-block-end: 0;
}

.gold {
	color: #f8af00;
}

.silver {
	color: #9d9d9d;
}

.bronze {
	color: #964818;
}

/* footer */

.ketchup-footer {
	background-color: #171717;
	color: #FFFFFF;
	padding: 30px 10%;
	margin-top: 100px;
	font-size: 16px;
}

.footer-ul{
	display: flex;
}

.footer-li {
	margin-left: 50px;
}

.footer-li:last-child{
	margin-left: auto;
}

.footer-li .fas {
	margin-right: 5px;
}

.footer-li a {
	color: #FFFFFF;
}

.footer-li a:hover {
	color: #9d9d9d;
}