html {
	font-family: 'Noto Sans JP', sans-serif!important;
}

body {
	color: #171717;
	background-color: #FFFFFF;
}

/* header */

.navbar {
	padding: 0;
}

.navbar-brand {
	margin-right: 1.5rem;
}

.bg-ketchup {
	background-color: #a80000!important;
}

input {
	border: none;
}

textarea:focus, input:focus, input[type]:focus {
	outline: 0;
}

.search_container{
	position: relative;
	box-sizing: border-box;
	padding: 4px 10px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #FFFFFF;
}

.search_container input {
	width: 250px;
}

.header-end {
	margin-left: 4rem;
}

.header-end-li {
	display: inline-block;
}

.header-end-li object {
	margin-right: 6px;
}

.header-link {
	color: #FFFFFF;
	font-size: 1rem;
	margin-right: 1rem;
	border: 1px solid #FFFFFF;
	padding: 5px 20px;
	padding-bottom: 7px;
}

.header-link, .header-link:hover,
.top-user-register-sign-up, .sns-auth a,
.form-control, .question-tag-li, .footer-li a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all  0.2s ease-in-out;
}

.header-link img {
	margin-right: 10px;
	margin-bottom: 2px;
}

.header-link:hover {
	color: #FFFFFF;
	background-color: #c54b4b;
	border: 1px solid #c54b4b;
	text-decoration: none;
}

#question {
	border: none;
	background-color: #171717;
	margin-right: 2rem;
	border-radius: 5px;
	box-shadow: 3px 3px #000000;
}

#question:hover {
	background-color: #424242;
	border: none;
}


.header-end-li a span {
	
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

/* header bottom */

.header-bottom {
	background-image: url("/img/common/back.png");
	background-repeat: repeat;
	border-bottom: 5px solid #000000;
	border-top: 5px solid #000000;
}

.header-bottom-container {
	padding-top: 80px;
	padding-bottom: 90px;
	color: #FFFFFF;
}

.slogan-div {
	margin-top: 25px;
}

.header-bottom p {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 16px;
}

.top-user p {
	margin-bottom: 3px;
}

.slogan-p {
	font-size: 22px!important;
	font-weight: bold;
	text-shadow: 3px 3px #000000;
}

.slogan-p img {
	margin-top: -36px;
	margin-left: -21px;
}

.header-bottom-end {
	text-align: left;
	margin-left: 160px;
}

.top-user {
	margin-left: 39px;
}

.top-user-register {
	margin-bottom: 20px;
}

.top-user-register input {
	padding: 4px 10px;
	width: 350px;
}

.top-user-register-sign-up {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #FFFFFF;
	padding: 5px 31px 7px 35px;
	border-radius: 5px;
}

.top-user-register-sign-up:hover {
	background-color: #424242;
	border: 1px solid #424242;
	text-decoration: none;
	color:	#FFFFFF;
}

.sns-auth {
	border-radius: 3px;
	width: 140px;
}

.sns-auth span {
	margin-left: 7px;
}

.sns-auth a {
	display:block;
	padding: 5px 10px;
	color: #171717;
	background-color: #f8fafc;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

.sns-auth a:hover {
	background-color: #b1b1b1;
	border-radius: 5px;
}

/* contents */

.ketchup-container {
	padding: 18px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.top-contents {
	width: 720px;
	min-width: 720px;
	position: relative;
	display: inline-block;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

.top-contents-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.top-contents-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
	overflow: hidden;
}

.top-contents-header {
	background-color: #FFFFFF;
}

.top-question {
	padding: 20px;
	border-bottom: 2px solid rgba(0,0,0,.125);
}

.dropdown-item:hover {
	background-color: #DDFFFF;
}

.dropdown-item:active {
	color: #16181b;
}

.form-control {
	color: #000000;
	border: 1px solid rgba(0,0,0,.125);
}

.form-control:focus {
	color: #000000;
	border: 1px solid rgba(0,0,0,.125);
	outline: none;
	box-shadow:none;
}

.form-control-focus {
	color: #171717;
	border-color: #a1cbef!important;
	outline: 0!important;
	box-shadow: 0 0 0 .2rem rgba(52, 144, 220, .25)!important;
}

.form-control:hover {
	background-color: #EEEEEE;
}

/* contents question list */

.top-question-left {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.top-question-status, .top-question-status-finish {
	background-color: #faff9d;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	font-size: 13px;
}

.top-question-status-finish {
	background-color: #333333!important;
	color: #FFFFFF;
}

.top-answer-count {
	width: 60px;
	color: #FFFFFF;
	border: 1px solid #A80000;
	margin-top: 5px;
}

.top-answer-count-a {
	display: block;
}

.top-answer-count-div {
	position: relative;
	background: #a80000;
	text-align: center;
}

.top-answer-count-div::before {
	border: 6px solid transparent;
	border-top-color: #a80000;
	content: '';
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -6px;
}

.top-answer-count-a, .top-answer-count-a:hover {
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
}

.top-answer-count-p a, .top-answer-count-p a:hover {
	color: #a80000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

.top-question-inner {
	width: 600px;
}

.top-question-title {
	font-size: 20px;
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 0;
}

.question-tag-ul {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0;
}

.question-tag-li {
	display: inline-block;
	background-color: #EEEEEE;
	border-radius: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.question-tag-li:hover {
	background:	none;
	background-color: #b1b1b1;
}

.question-tag-li a {
	display: block;
	color: #16181b;
	text-decoration: none;
	font-weight: bold;
	padding: 0 15px;
}

.top-question-data {
	width: 100%;
	text-align: right;
}

.top-question-data, .top-question-user a {
	color: #000000;
}

.top-update-datetime, .top-question-user, .top-good-count {
	margin-left: 20px;
}

.top-question-user a:hover {
	color: #b1b1b1;
}

.top-question-inner .fas, .top-question-user img {
	margin-right: 5px;
	margin-bottom: 3px;
}

.fa-clock, .fa-thumbs-up {
	color: #b1b1b1;
}


/* side */

.tag-ranking {
	font-weight: bold;
	background-color: #FFFFFF;
	margin-left: 20px;
	padding: 20px;
	position: sticky;
	margin-bottom: 0;
	top: 10px;
	z-index: 1;
}

.tag-ranking-header {
	padding-bottom: 16px;
	border-bottom: 2px solid #000000;
	font-size: 16px;
}

.tag-ranking-ul {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.tag-ranking-li:first-child {
	width: 30px;
	text-align: center;
	color: #b1b1b1;
}

.tag-ranking-li:nth-child(2) {
	width: 150px;
	margin-bottom: 2px;
}

.tag-ranking-li:nth-child(2) a {
	color: #16181b;
	vertical-align: middle;
	font-size: 16px;
}

.tag-ranking-li:nth-child(2) a:hover {
	color: #666;
}

.tag-ranking-li:nth-child(3) {
	width: 50px;
	text-align: center;
}

.tag-ranking-li {
	display: inline-block;
	vertical-align: middle;
}

.number-tag {
	font-size: 18px;
}

.posts {
	color: #b1b1b1;
	margin-top: -10px;
	font-weight: lighter;
}

p {
	margin-block-end: 0;
}

.gold {
	color: #f8af00;
}

.silver {
	color: #9d9d9d;
}

.bronze {
	color: #964818;
}

/* footer */

.ketchup-footer {
	background-color: #171717;
	color: #FFFFFF;
	padding: 30px 10%;
	margin-top: 100px;
	font-size: 16px;
}

.footer-ul{
	display: flex;
}

.footer-li {
	margin-left: 50px;
}

.footer-li:last-child{
	margin-left: auto;
}

.footer-li .fas {
	margin-right: 5px;
}

.footer-li a {
	color: #FFFFFF;
}

.footer-li a:hover {
	color: #9d9d9d;
}