/* contents */

.breadcrumb {
	background-color: #EEEEEE;
	margin-bottom: 0;
}

.breadcrumb span {
	margin-right: 10px;
}

.question_title {
	margin-top: 30px;
	margin-bottom: 20px;
}

.question_title h1 {
	font-weight: bold;
}

.user-date {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 3px solid #EEEEEE;
}

.date {
	margin-left: auto;
	margin-right: 10px;
	margin-top: 5px;
}

.user span {
	margin-left: 10px;
	font-size: 20px;
	vertical-align: middle;
}

.user img {
	margin-right: 3px;
}

.question-content {
	margin-bottom: 22px;
}

.user-list {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.answer-header {
	border-bottom: 3px solid #EEEEEE;
}

.answer-list {
	padding-bottom: 30px;
}

.top-question-status {
	width: 60px;
}

.question-tag-ul {
	padding-bottom: 10px;
}

.top-question-status, .top-question-status-finish {
	margin-top: 0;
}

.question-count {

}

.top-answer-count {
	display: inline-block;
}

.question-status {
	display: flex;
	align-items: center;
}

.question-status div {
	margin-left: 20px;
}

.count-pv {
	margin-left: auto!important;
}

.count-good {
	margin-left: auto;
	font-size: 24px;
}

.count-fukidashi {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-right: 15px;
	padding: 3px 10px;
	color: #555;
	font-size: 16px;
	background: #EEEEEE;
	font-weight: bold;
}

.count-fukidashi:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -20px;
	margin-top: -10px;
	border: 10px solid transparent;
	border-right: 10px solid #EEEEEE;
}

.count-fukidashi p {
	margin: 0;
	padding: 0;
}

.count-fukidashi a, .count-fukidashi a:hover {
	color: #333333;
	text-decoration: none;
}

.question-button {
	margin-top: 30px;
	text-align: right;
}

.question-button button {
	padding: 7px 42px;
	font-size: 18px;
}

.question-addition {
	margin: 30px 0;
}

.addition-header span {
	padding: 1px 5px;
	background-color: #b1b1b1;
	color: #FFFFFF;
}

.addition-body p {
	margin: 10px 0;
}

.last-comment-area {
	margin-top: 50px;
}

.last-comment-area p {
	font-size: 12px!important;
}

.last-comment {
	width: 100%;
	font-size: 14px!important;
	padding: 5px;
}

/* answer area*/

.answer-header, .answer-write-header {
	margin-top: 60px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.answer-none {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 3px solid #EEEEEE;
}

.answer-write-header {
	border-bottom: none;
}

.answer-write-content {
	background-color: #EEEEEE;
	padding: 20px;
}

.answer-write-content .user {
	margin-bottom: 10px;
}

.answer-write-content textarea {
	width: 100%;
	height: 150px;
	padding: 5px;
}

.answer-write-button {
	text-align: right;
}

.answer-button {
	padding: 7px 42px;
	font-size: 18px;
	background-color: #FFFFFF;
}

.best-answer {
	margin-right: 10px;
}

.question-button button {
	font-size: 16px;
}

/* reply area */

.reply-content {
	margin-left: 100px;
	padding-bottom: 30px;
	border-top: 3px solid #eee;
}

.reply-content p {
	white-space: pre-wrap;
	color: #333;
	letter-spacing: 0.5px;
}

.answer-reply {
	padding-bottom: 20px;
	border-bottom: 3px solid #EEE;
}

.reply-write-content {
	background-color: #EEEEEE;
	padding: 20px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.reply-write-content .user {
	margin-bottom: 10px;
}

.reply-write-content textarea {
	width: 100%;
	height: 150px;
	padding: 5px;
}

.reply-write-button {
	text-align: right;
}

.reply-button {
	background-color: #FFFFFF;
}

.reply-list {
	display: none;
}

div.reply-content:last-child{
	border-bottom: 3px solid #EEE;
}

.btn-outline-danger {
	background-color: #a80000;
	border-color: #a80000;
	color: #FFFFFF;
}

.btn-outline-danger:hover, .btn-outline-danger:active{
	background-color: #c54b4b!important;
	border-color: #c54b4b!important;
	color: #FFFFFF;
}

.btn {
	box-shadow: none!important;
}

/* common area */

.question-content p, .answer-write-content textarea, .answer-list p, .reply-content p, .reply-area,
.answer-none, .top-entry-datetime, .question-status, #answer_content_label, #reply_content_label, .addition-body p,
#best_answer_content_label, .last-comment, .last-comment-area p {
	font-family: 'Nunito';
	color: #333;
}

.question-content p, #answer_content_label, .answer-list p, #reply_content_label, .addition-body p,
#best_answer_content_label, .last-comment, .last-comment-area p {
	white-space: pre-wrap;
	font-size: 16px;
	color: #333;
	letter-spacing: 0.5px;
}