/* header bottom */

.header-bottom {
	background-image: url("/img/common/back.png");
	background-repeat: repeat;
	border-bottom: 5px solid #000000;
	border-top: 5px solid #000000;
}

.header-bottom-container {
	padding-top: 80px;
	padding-bottom: 90px;
	color: #FFFFFF;
}

.slogan-div {
	margin-top: 25px;
}

.header-bottom p {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 16px;
}

.top-user p {
	margin-bottom: 3px;
}

.slogan-p {
	font-size: 22px!important;
	font-weight: bold;
	text-shadow: 3px 3px #000000;
}

.slogan-p img {
	margin-top: -36px;
	margin-left: -21px;
}

.header-bottom-end {
	text-align: left;
	margin-left: 160px;
}

.top-user {
	margin-left: 39px;
}

.top-user-register {
	margin-bottom: 20px;
}

.top-user-register input {
	padding: 4px 10px;
	width: 350px;
}

.top-user-register-sign-up {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #FFFFFF;
	padding: 5px 31px 7px 35px;
	border-radius: 5px;
}

.top-user-register-sign-up:hover {
	background-color: #424242;
	text-decoration: none;
	color:	#FFFFFF;
}

.sns-auth {
	border-radius: 3px;
	width: 140px;
}

.sns-auth span {
	margin-left: 7px;
}

.sns-auth a {
	display:block;
	padding: 5px 10px;
	color: #171717;
	background-color: #f8fafc;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
}

.sns-auth a:hover {
	background-color: #b1b1b1;
	border-radius: 5px;
}

/* contents */

.ketchup-container {
	padding: 18px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.top-contents {
	width: 720px;
	min-width: 720px;
	position: relative;
	display: inline-block;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

.top-contents-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.top-contents-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
	overflow: hidden;
}

.top-contents-header {
	background-color: #FFFFFF;
}

.top-question {
	padding: 20px;
	border-bottom: 2px solid rgba(0,0,0,.125);
}

.dropdown-item:hover {
	background-color: #DDFFFF;
}

.dropdown-item:active {
	color: #16181b;
}

.form-control {
	color: #000000;
	border: 1px solid rgba(0,0,0,.125);
}

.form-control:focus {
	color: #000000;
	border: 1px solid rgba(0,0,0,.125);
	outline: none;
	box-shadow:none;
}

.form-control-focus {
	color: #171717;
	border-color: #a1cbef!important;
	outline: 0!important;
	box-shadow: 0 0 0 .2rem rgba(52, 144, 220, .25)!important;
}

.form-control:hover {
	background-color: #EEEEEE;
}

/* contents question list */

.top-question-left {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.top-question-status, .top-question-status-finish {
	background-color: #faff9d;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	font-size: 13px;
}

.top-question-status-finish {
	background-color: #333333!important;
	color: #FFFFFF;
}

.top-answer-count {
	width: 60px;
	color: #FFFFFF;
	border: 1px solid #A80000;
	margin-top: 5px;
}

.top-answer-count-a {
	display: block;
}

.top-answer-count-div {
	position: relative;
	background: #a80000;
	text-align: center;
}

.top-answer-count-div::before {
	border: 6px solid transparent;
	border-top-color: #a80000;
	content: '';
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -6px;
}

.top-answer-count-a, .top-answer-count-a:hover {
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
}

.top-answer-count-p a, .top-answer-count-p a:hover {
	color: #a80000!important;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

.top-question-inner {
	width: 600px;
}

.top-question-title {
	font-size: 22px;
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 0;
}

.question-tag-ul {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0;
}

.question-tag-li {
	display: inline-block;
	background-color: #EEEEEE;
	border-radius: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.question-tag-li:hover {
	background:	none;
	background-color: #b1b1b1;
}

.question-tag-li a {
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	padding: 0 15px;
}

.top-question-data {
	width: 100%;
	text-align: right;
}

.top-question-data, .top-question-user a {
	color: #000000;
}

.top-entry-datetime {
	float: left;
}

.top-question-user, .top-good-count {
	margin-left: 20px;
}

.top-question-user a:hover {
	color: #b1b1b1;
}

.top-question-inner .fas, .top-question-user img {
	margin-right: 5px;
	margin-bottom: 3px;
}

.fa-clock, .fa-thumbs-up {
	color: #b1b1b1;
}