/* contents */

.user-data {
	padding: 20px;
	margin-right: 30px;
}

.flg-list {
	padding: 25px 10px;
	padding-bottom: 0;
}

.flg-list ul li  {
	display: inline-block;
	padding: 3px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

.flg-list span a {
	color: #FFFFFF;
	padding: 5px 10px;
	background-color: #333333;
	font-size: 14px;
}

.flg-active {
	color: #333333!important;
	font-size: 20px!important;
	background-color: #FFFFFF!important;
	border: 1px solid #333333!important;
	border-bottom: none!important;;
	font-weight: bold;
}

.user-id-created-at {
	padding-top: 20px;
	padding-bottom: 10px;
}

.user-created-at {
	color: #b1b1b1;
	text-align: center;
}

.user-created-at, .user-profile {
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.user-id {
	font-weight: bold;
	font-size: 20px;
}

.user-account {
	padding-top: 20px;
}

.user-account div {
	font-size: 13px;
	margin-bottom: 5px;
}

.user-account div a span {
	font-size: 10px;
	margin-right: 3px;
}